# Core functionality - changes here should be rare!
/src/app.py                   @pokharelgaurav38
/src/backend/database.py      @pokharelgaurav38
/src/backend/routers/auth.py  @pokharelgaurav38

# The frontend will need refactored soon to be more object oriented.
/src/static/   @pokharelgaurav38
